body {
    display: block;
    height: 100%;
}

.container {
    width: 100%;
    text-align: left;
    max-width: none;
}

.collapsible {
    background-color: #6745fd;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: larger;
    font-weight: bold;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #775bf6;
}

.content a {
    color: white;
    font-size: large;
}

.book-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 15px;
}

.hyphen {
    font-weight: bold;
    color: white;
    padding: 0px 5px;
}