.btn {
    font-weight: 600;
}

.card-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.row {
    margin-top: 20px;
}

.flip-card {
    height: 300px;
}

.flip-card.active {
    transform: rotateY(180deg);
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.flip-card-back {
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-width: 100px;
    border-radius: 300px;
    box-shadow: 0 0 15px rgb(255 255 255 / 10%);
}

strong {
    color: #f9ec3c;
    text-decoration: underline; 
}

.card-detail {
    font-weight: bold;
}

.word-en {
    margin-bottom: 0;
    font-weight: bold;
}

audio {
    padding: 10px;
}