body {
    display: block;
    height: 100%;
}

.container {
    width: 100%;
    text-align: left;
    max-width: none;
}

.collapsible {
    background-color: #232148;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: larger;
    font-weight: bold;
}

.collapsible:after {
    content: '\276D';
    float: right;
    color: #9897a7;
    margin-left: 5px;
}

.active:after {
    content: "﹀";
}

.content {
    padding: 18px;
    padding-top: 0;
    display: none;
    overflow: hidden;
    background-color: #232148;
}

.content a {
    color: white;
    font-size: medium;
}

.book-item {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    margin: 15px;
}

.hyphen {
    font-weight: bold;
    color: white;
    padding: 0px 5px;
}

a {
    font-weight: normal;
}