body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #424242;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

*:disabled {
    cursor: not-allowed;
}

.nav.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.container {
    width: 90%;
    text-align: center;
    max-width: 600px;
}

.tab-content {
    margin-top: 15px;
}

input {
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
    margin: 0px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 15px !important;
}

.btn {
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%)
}

.btn:hover {
    color: #fff;
}

.action {
    padding: 0px 5px 0px 5px;
}

.btn-basic {
    background-color: gray;
    color: white;
}

.btn-orange {
    color: white;
    background-color: coral;
}

.btn-purple {
    color: white;
    background-color: #663399a1;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-items: center;
}

.flip-card-front,
.flip-card-back {
    padding: 8px;
    font-size: 15px;
    border-radius: 0.25rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #8acfff;
    color: white;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
}