body {
    text-align: center;
    margin: 20px auto;
    display: block;
}

.container {
    max-width: none;
    padding-bottom: 20px;
}

.flip-card {
    height: 40px;
    box-shadow: none;
    border-radius: 0.25rem;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.flip-card-inner.active {
    transform: rotateX(180deg);
}

.flip-card-back {
    transform: rotateX(180deg);
}

.btn {
    font-weight: bold;
    font-size: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #232148;
}

.nav-link {
    color: #ffffff;
    background-color: #232148;
    border-color: #232148;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #232148;
    border-color: #232148;
    color: #00d9ce;
    font-weight: bold;
}

.nav-tabs .nav-link {
    border: 1px solid #171531;
}