body {
    height: 100%;
}

#container {
    color: #ffffff;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.story-title {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #37e9bb;
    font-size: 24px;
    text-align: center;
}

.story-content {
    line-height: 1.5;
    font-size: 14px;
    text-indent: 25px;
    font-weight: normal;
    text-align: left;
}

.story-content p {
    font-weight: normal;
}

.story-img {
    width: 8rem;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
}

audio {
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 80%;
}

.idiom-tip {
    color: #37eabb;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.tooltip-popup {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #1f1147;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    max-width: 300px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    box-sizing: border-box;
    text-align: center;
}

.tooltip-popup-content {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    font-size: 15px;
}

.tooltip-popup span {
    flex: 1;
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.desc {
    font-style: italic;
    font-size: 12px;
}