body {
    overflow: hidden;
}

.action {
    padding: 0px 10px 0px 5px;
}

.btn {
    height: 8rem;
    font-size: .8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50px;
    margin-bottom: 5px;
}