body {
    margin: 20px auto;
    display: block;
}

.container {
    text-align: left;
    width: 100%;
    max-width: none;
    padding-bottom: 20px;
}

.collapsible {
    background-color: #6745fd;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #664dd1;
    color: aliceblue
}

.content a {
    color: white;
}

.book-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 15px;
}

.index-block-item {
    padding: 0;
}

.index-block-item li {
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
}

.tool-index-idioms {
    font-weight: normal;
    font-size: medium;
    display: none;
    cursor: default;
    background-color: #37e9bb;
    color: #1f1147;
    padding: 10px;
    border-radius: 5px;
}

.en-word {
    font-weight: bold;
    font-size: large;
}

.en-pron {
    font-style: italic;
    font-weight: normal;
}