body {
    overflow: hidden;
}

.btn {
    font-weight: 600;
}

.card-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.row {
    margin-top: 20px;
}

.flip-card {
    height: 300px;
}

.flip-card.active {
    transform: rotateY(180deg);
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.flip-card-back {
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-width: 100px;
    border-radius: 300px;
    box-shadow: 0 0 20px rgb(255 255 255 / 10%);
}

strong {
    color: #00d9ce;
    text-decoration: underline;
}

.card-detail {
    font-weight: bold;
}

.word-en {
    margin-bottom: -10px;
    font-weight: bold;
    font-size: larger;
}

.accent {
    font-size: small;
    margin-right: 5px;
    vertical-align: text-bottom;
}

audio {
    padding: 10px;
}

.popup {
    width: 80%;
    max-width: 500px;
}

#editForm {
    text-align: left;
    padding-bottom: 20px;
}

label {
    margin-bottom: 5px;
    padding-left: 2px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #171531;
    border: none;
    border-radius: 0.25rem;
    color: white;
}

h2 {
    color: #00d9ce;
    font-weight: bold;
}