body {
    overflow: hidden;
}

h2 {
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
}

h6 {
    margin: 0 5px;
}

.btn {
    font-weight: 600;
}

.btn-purple {
    font-size: large;
}

.quiz-status {
    display: block;
    font-size: small;
    color: #514f67;
}

.row {
    margin-top: 6rem;
}

.answer-options {
    list-style-type: none;
    padding: 0;
}

.answer-options li {
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 12px 20px;
    border: 1px solid #232148;
    background-color: #232148;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.correct {
    background-color: #00d9ce;
    color: #fff;
    border-color: #00d9ce;
}

.incorrect {
    background-color: #ff7066;
    color: #fff;
    border-color: #ff7066;
}