.btn {
    vertical-align: text-top;
    margin-top: 10px;
}

h1 {
    margin-top: 10px;
}

body {
    overflow: hidden;
    display: block;
}

#progress {
    width: 100%;
    background-color: #ddd;
}

#progress-bar {
    margin: 10px 0;
    height: 5px;
    width: 0%;
    background-color: #00d9ce;
}

.header {
    width: 100%;
    text-align: right;
}

.close-button {
    position: absolute;
    top: 5px;
    background-color: transparent;
    color: #5468ff;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.card-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.tab-content {
    text-align: left;
    overflow-y: auto;
    margin-top: 0;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

.row {
    margin-top: 20px;
}

#word-en {
    margin-bottom: -10px;
    font-weight: bold;
    font-size: xx-large;
}

#word-type {
    font-size: large;
    font-weight: lighter;
    color: #00d9ce;
}

#word-pron {
    color: lightgray;
}

#word-exam strong {
    color: #00d9ce;
    text-decoration: underline;
}

.accent {
    font-size: small;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.audio {
    margin: 5px 0 10px 0;
}

audio {
    padding: 10px;
}

.icon-recorder {
    border-radius: 50%;
    margin: 30px 40px;
    width: 95px;
    height: 95px;
}

#stop-record::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #dc354559;
    border-radius: 50%;
    z-index: -1;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.4;
    }
}

.icon-recorder i {
    font-size: 50px;
}

i {
    font-size: medium;
}

.audio i {
    color: #00d9ce;
}

.word-detail {
    display: none;
}

.word-detail.active {
    display: block;
}

.circle {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.circle i {
    vertical-align: middle;
}

.record-dock {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-dock .circle {
    margin-top: 0;
}

.record-dock i {
    color: white;
}

#start-record i {
    color: #00d9ce;
}

#stop-record {
    filter: drop-shadow(0 0 5px #ff4b5c);
    display: none;
}

.card-detail {
    font-weight: bold;
}

#view-detail {
    margin-top: 25px;
    color: #00d9ce;
    text-decoration: underline;
    font-size: medium;
    cursor: pointer;
}

.detail {
    margin-bottom: 5px;
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

.progress-container {
    position: relative;
    display: inline-block;
}

.progress-ring {
    display: block;
}

.progress-ring__background {
    stroke-width: 8;
}

.progress-ring__background {
    stroke: #e6e6e6;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-size: xx-large;
    font-weight: bolder;
}

#ref-stress,
#show-detail {
    color: #00d9ce;
    font-weight: bold;
    text-decoration: underline;
    font-size: initial;
}

#show-detail {
    cursor: pointer;
}

#word-stress-result {
    font-size: large;
    margin-top: 10px;
}

.table {
    color: white;
}